
<!-- Barra de navegacao-->
<nav [hidden]="esconderBarra()">

  <input type="checkbox" id="check" #checkboxSidebar> 

  <!-- botao -->
  <label for="check" id="botao-check" >
    <img id="img-botao-check" src="assets/botao-sidebar.png">
  </label>

  <!--sidebar-->
  <div class="sidebar">
      

      <a [routerLink]="['/home']" routerLinkActive="router-link-active" (click) = "closeSidebar()"><span>Home</span></a>
      <a [routerLink]="['/produto']" routerLinkActive="router-link-active" (click) = "closeSidebar()"><span>Estoque</span></a>
      <a [routerLink]="['/usuarioList']" routerLinkActive="router-link-active" (click) = "closeSidebar()"><span>Usuario</span></a>
      <a [routerLink]="['/usuarioRelatorio']" routerLinkActive="router-link-active" (click) = "closeSidebar()"><span>Relatorio</span></a>
        
      
      <a (click) = "logout()" class="nav-link" (click) = "closeSidebar()"><span>Deslogar</span></a>
      
  </div>
  
</nav>

















<br><br><br>

<!-- VIEW -->
<router-outlet></router-outlet>

