
<main class="main">
    <img class="mb-4" src="/assets/logo-editor.jpg" alt="" width="400" height="126">

    <p>
        Esse e um projeto simples de controle de estoque que tem como principal objetivo
        testar e praticar minhas habilidades com a linguagem na qual tenho conhecimento.
        Nele foi utilizado Java com Spring Boot (API-REST) no Back-end e o framework Angular 2+ no 
        Front-end para a composição das telas e consumo da API.

    </p>

    <p>
        No projeto e possível listar, adicionar, remover, editar e apagar produtos além de gerenciar usuários 
        e suas respectivas contas, contando até com a possibilidade de criação de relatórios em pdf.
        Na parte de login existe a implementação do JWT e o Spring Security como parte de segurança
        e autenticação de usuario.
    </p>

    

</main>