.main{
	height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main p{
	padding: 1% 15%;
	text-align: justify;
}

@media (max-width: 800px){
	.main img{
		width: 90%;
		height: 100%;
	}
}
